services:
  caddy:
    cap_add:
      - NET_ADMIN
    container_name: caddy
    environment:
      - PROMETHEUS_HASHED_PASSWORD=${PROMETHEUS_HASHED_PASSWORD}
      - PROMETHEUS_AUTH_USERNAME=${ALLOY_PROMETHEUS_USERNAME}
    image: caddy:2.10.2@sha256:f20f80e1fb627294fb84b8515b7593aff8018c840f1396dc942a50ed0c2db648
    network_mode: host
    ports:
      - 443:443
      - 443:443/udp
      - 80:80
      - 127.0.0.1:2019:2019
    restart: always
    volumes:
      - caddy_config:/config
      - caddy_data:/data
      - ./config/caddy:/etc/caddy:ro

volumes:
  caddy_config:
  caddy_data:
