services:
  alloy:
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - /etc/alloy/config.alloy
    container_name: alloy
    environment:
      - ALLOY_PROMETHEUS_PASSWORD=${ALLOY_PROMETHEUS_PASSWORD}
      - ALLOY_PROMETHEUS_USERNAME=${ALLOY_PROMETHEUS_USERNAME}
    image: grafana/alloy:v1.12.2@sha256:f94b1c82957accb77cd11385fd5e3600758ef1b1ab79557c97319ad28590735a
    network_mode: host
    restart: always
    volumes:
      - ./config/alloy:/etc/alloy:ro

  database:
    container_name: grafana_postgres
    environment:
      POSTGRES_DB: ${GF_DATABASE_NAME}
      POSTGRES_PASSWORD: ${GF_DATABASE_PASSWORD}
      POSTGRES_USER: ${GF_DATABASE_USER}
    healthcheck:
      test: pg_isready -U postgres
    image: postgres:17.7-bookworm@sha256:86e0b703649d7a792bd9243ee28afc9d8f7c6b2b5638077c9d6882d4d472bbfd
    restart: always
    volumes:
      - /opt/grafana/postgres:/var/lib/postgresql/data

  grafana:
    container_name: grafana
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_DATABASE_HOST=${GF_DATABASE_HOST}
      - GF_DATABASE_NAME=${GF_DATABASE_NAME}
      - GF_DATABASE_PASSWORD=${GF_DATABASE_PASSWORD}
      - GF_DATABASE_TYPE=${GF_DATABASE_TYPE}
      - GF_DATABASE_USER=${GF_DATABASE_USER}
      - GF_REMOTE_CACHE_CONNSTR=${GF_REMOTE_CACHE_CONNSTR}
      - GF_REMOTE_CACHE_TYPE=redis
      - GF_SECURITY_COOKIE_SECURE=true
      - GF_SECURITY_COOKIE_SAMESITE=Strict
      - GF_SECURITY_CONTENT_SECURITY_POLICY=true
      - GF_SERVER_DOMAIN=graph.stzky.com
      - GF_SERVER_ROOT_URL=https://graph.stzky.com
      - GF_SMTP_ENABLED=true
      - GF_SMTP_FROM_ADDRESS=${GF_SMTP_FROM_ADDRESS}
      - GF_SMTP_FROM_NAME=${GF_SMTP_FROM_NAME}
      - GF_SMTP_HOST=${GF_SMTP_HOST}
      - GF_SMTP_PASSWORD=${GF_SMTP_PASSWORD}
      - GF_SMTP_USER=${GF_SMTP_FROM_NAME}
      - GF_SNAPSHOTS_EXTERNAL_ENABLED=false
      - GF_USERS_DEFAULT_THEME=system
    image: grafana/grafana:12.3.2@sha256:ba93c9d192e58b23e064c7f501d453426ccf4a85065bf25b705ab1e98602bfb1
    ports:
      - 127.0.0.1:3000:3000
    restart: always
    user: '0'
    volumes:
      - /opt/grafana/grafana:/var/lib/grafana

  node-exporter:
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    container_name: node_exporter
    image: prom/node-exporter:v1.10.2@sha256:3ac34ce007accad95afed72149e0d2b927b7e42fd1c866149b945b84737c62c3
    pid: host
    restart: always
    volumes:
      - /:/rootfs:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

  prometheus:
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=60d
      - --web.enable-lifecycle
      - --web.enable-remote-write-receiver
    container_name: prometheus
    image: prom/prometheus:v3.9.1@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    ports:
      - 127.0.0.1:9090:9090
    volumes:
      - ./config/prometheus:/etc/prometheus:ro
      - /opt/grafana/prometheus:/prometheus

  redis:
    container_name: grafana_redis
    healthcheck:
      test: redis-cli ping || exit 1
    image: valkey/valkey:8.1.3-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    restart: always
    volumes:
      - /opt/grafana/redis:/data

  snmp-exporter:
    container_name: snmp_exporter
    image: prom/snmp-exporter:v0.30.1@sha256:e5fd5e8b43ace6c088fe9bf0b37b7fff0e04380bee352be7ec41b853a4dd5859
    restart: always
