services:
  alloy:
    command:
      - run
      - --server.http.listen-addr=0.0.0.0:12345
      - /etc/alloy/config.alloy
    container_name: alloy
    environment:
      - ALLOY_PROMETHEUS_PASSWORD=${ALLOY_PROMETHEUS_PASSWORD}
      - ALLOY_PROMETHEUS_USERNAME=${ALLOY_PROMETHEUS_USERNAME}
    image: grafana/alloy:v1.11.3@sha256:8c7256f412feb9f5f48f9f6f9394dc97ca887f63dea9304f347970ecc1787669
    network_mode: host
    restart: always
    volumes:
      - ./config/alloy:/etc/alloy:ro

  database:
    container_name: grafana_postgres
    environment:
      POSTGRES_DB: ${GF_DATABASE_NAME}
      POSTGRES_PASSWORD: ${GF_DATABASE_PASSWORD}
      POSTGRES_USER: ${GF_DATABASE_USER}
    healthcheck:
      test: pg_isready -U postgres
    image: postgres:17.7-bookworm@sha256:921ba1b84a46af0acca974e9ddc33f3ae5feb7dd3f888b3a3ae05814fbc68117
    restart: always
    volumes:
      - /opt/grafana/postgres:/var/lib/postgresql/data

  grafana:
    container_name: grafana
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_DATABASE_HOST=${GF_DATABASE_HOST}
      - GF_DATABASE_NAME=${GF_DATABASE_NAME}
      - GF_DATABASE_PASSWORD=${GF_DATABASE_PASSWORD}
      - GF_DATABASE_TYPE=${GF_DATABASE_TYPE}
      - GF_DATABASE_USER=${GF_DATABASE_USER}
      - GF_REMOTE_CACHE_CONNSTR=${GF_REMOTE_CACHE_CONNSTR}
      - GF_REMOTE_CACHE_TYPE=redis
      - GF_SECURITY_COOKIE_SECURE=true
      - GF_SECURITY_COOKIE_SAMESITE=Strict
      - GF_SECURITY_CONTENT_SECURITY_POLICY=true
      - GF_SERVER_DOMAIN=graph.stzky.com
      - GF_SERVER_ROOT_URL=https://graph.stzky.com
      - GF_SMTP_ENABLED=true
      - GF_SMTP_FROM_ADDRESS=${GF_SMTP_FROM_ADDRESS}
      - GF_SMTP_FROM_NAME=${GF_SMTP_FROM_NAME}
      - GF_SMTP_HOST=${GF_SMTP_HOST}
      - GF_SMTP_PASSWORD=${GF_SMTP_PASSWORD}
      - GF_SMTP_USER=${GF_SMTP_FROM_NAME}
      - GF_SNAPSHOTS_EXTERNAL_ENABLED=false
      - GF_USERS_DEFAULT_THEME=system
    image: grafana/grafana:12.2.1@sha256:35c41e0fd0295f5d0ee5db7e780cf33506abfaf47686196f825364889dee878b
    ports:
      - 127.0.0.1:3000:3000
    restart: always
    user: '0'
    volumes:
      - /opt/grafana/grafana:/var/lib/grafana

  node-exporter:
    command:
      - --path.procfs=/host/proc
      - --path.rootfs=/rootfs
      - --path.sysfs=/host/sys
      - --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)
    container_name: node_exporter
    image: prom/node-exporter:v1.10.2@sha256:3ac34ce007accad95afed72149e0d2b927b7e42fd1c866149b945b84737c62c3
    pid: host
    restart: always
    volumes:
      - /:/rootfs:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro

  prometheus:
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=60d
      - --web.enable-lifecycle
      - --web.enable-remote-write-receiver
    container_name: prometheus
    image: prom/prometheus:v3.7.3@sha256:49214755b6153f90a597adcbff0252cc61069f8ab69ce8411285cd4a560e8038
    ports:
      - 127.0.0.1:9090:9090
    volumes:
      - ./config/prometheus:/etc/prometheus:ro
      - /opt/grafana/prometheus:/prometheus

  redis:
    container_name: grafana_redis
    healthcheck:
      test: redis-cli ping || exit 1
    image: valkey/valkey:8.1.3-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    restart: always
    volumes:
      - /opt/grafana/redis:/data

  snmp-exporter:
    container_name: snmp_exporter
    image: prom/snmp-exporter:v0.29.0@sha256:272ff087c314fb1e384b7ba7e555f020cc0c072fb23f0dc1d1cb51b48067efdc
    restart: always
