name: immich

services:
  database:
    container_name: immich_postgres
    environment:
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: --data-checksums
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
    image: ghcr.io/immich-app/postgres:16-vectorchord0.4.2@sha256:1b795746fdb0963579c3ba4f58e6dabdbf1e633c6ec26e4ee099317cc4f3fb42
    restart: always
    volumes:
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data

  immich-machine-learning:
    container_name: immich_machine_learning
    device_cgroup_rules:
      - c 189:* rmw
    devices:
      - /dev/dri:/dev/dri
    environment:
      - IMMICH_TELEMETRY_INCLUDE=all
    healthcheck:
      disable: false
    image: ghcr.io/immich-app/immich-machine-learning:v2.3.1-openvino@sha256:b717d8afc7d9d4d7e2abf29f0aa33aa2b42c8bdcd78b9c88cf267360a9a8d53c
    restart: always
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - model-cache:/cache

  immich-server:
    container_name: immich_server
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - DB_DATABASE_NAME=${DB_DATABASE_NAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
      - IMMICH_TELEMETRY_INCLUDE=all
    healthcheck:
      disable: false
    image: ghcr.io/immich-app/immich-server:v2.3.1@sha256:f8d06a32b1b2a81053d78e40bf8e35236b9faefb5c3903ce9ca8712c9ed78445
    ports:
      - 127.0.0.1:2283:2283
      - 127.0.0.1:8081:8081
      - 127.0.0.1:8082:8002
    restart: always
    volumes:
      - ${UPLOAD_LOCATION}:/data
      - /etc/localtime:/etc/localtime:ro

  redis:
    container_name: immich_redis
    healthcheck:
      test: redis-cli ping || exit 1
    image: valkey/valkey:8.1.3-bookworm@sha256:fea8b3e67b15729d4bb70589eb03367bab9ad1ee89c876f54327fc7c6e618571
    restart: always

volumes:
  model-cache:
